<fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4 mt-10 mx-auto">
  <legend class="fieldset-legend text-lg font-semibold">Login</legend>

  <%= form_with url: login_path, local: true do |form| %>
    <div>
      <label class="label mb-1">Username</label>
      <%= form.text_field :username, required: true, class: "input w-full", placeholder: "Username" %>
    </div>

    <div class="mt-2">
      <label class="label mb-1">Password</label>
      <%= form.password_field :password, required: true, class: "input w-full", placeholder: "Password" %>
    </div>

    <div class="mt-4">
      <%= form.submit "Login", class: "btn btn-neutral w-full" %>
    </div>
  <% end %>
</fieldset>
