<div
  data-controller="index-table-component"
  data-action="resize@window->index-table-component#refreshLayout"
  data-index-table-component-per-page-value="<%= per_page %>">
  <% if searchable %>
    <div class="mb-4">
      <label class="input input-bordered w-full">
        <%= render IconComponent.new(icon: "search", size: :sm, classes: "h-[1em] opacity-50") %>
        <input
            type="search"
            class="grow focus:outline-none"
            placeholder="Search..."
            autocomplete="off"
            data-index-table-component-target="search"
            data-action="input->index-table-component#filter">
      </label>
    </div>
  <% end %>

  <%= render Shared::IndexTableComponent::DesktopComponent.new(
    records: records,
    columns: columns,
    column_sizes: column_sizes,
    empty_state_text: empty_state_text,
    cell_content_renderer: cell_content_renderer
  ) %>

  <%= render Shared::IndexTableComponent::MobileComponent.new(
    records: records,
    columns: columns,
    empty_state_text: empty_state_text,
    cell_content_renderer: cell_content_renderer
  ) %>
</div>
