<div class="overflow-x-auto" data-controller="index-table-component">
  <% if searchable %>
    <div class="mb-2">
      <input
          type="search"
          class="input input-bordered w-full focus:outline-none"
        placeholder="Search..."
        data-index-table-component-target="search"
        data-action="input->index-table-component#filter"
      />
    </div>
  <% end %>

  <table class="table table-zebra">
    <thead>
      <tr>
        <th></th>
        <% columns.each do |column| %>
          <th><%= column.header %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% records.each_with_index do |record, index| %>
        <tr data-index-table-component-target="row">
          <th><%= index + 1 %></th>
          <% columns.each do |column| %>
            <td><%= render_cell_content(record, column) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
