<div class="card shadow-sm w-full border border-base-300 p-2 sm:p-4 bg-base-200 bg-opacity-70
    [background-color:var(--color-base-200)]
    [background-image:radial-gradient(color-mix(in_srgb,var(--color-primary)_25%,transparent)_0.5px,transparent_0.5px)]
    [background-size:10px_10px]">
  <div class="card-body p-2 sm:p-4">
    <%= content %>
  </div>
</div>
