<div class="max-w-120 my-12 mx-auto">
  <h1 class="text-3xl font-bold mb-6">User Profile</h1>
  
  <div class="flex flex-col gap-4">
    <div>
      <span class="font-semibold">Username:</span>
      <%= @user.username %>
    </div>
  </div>
</div>
