<div class="mx-8 my-10">
  <div class="flex flex-col gap-4">
    <div class="flex flex-row justify-between items-center">
      <h1 class="text-4xl">
        Projects
      </h1>
      <%= render Projects::ProjectModalComponent.new(project: Project.new(active: true), title: "Create project", id: "create_project_modal") %>
    </div>
    <div id="projects-list">
      <%= render Home::ProjectsCardComponent.new(projects: @projects) %>
    </div>
  </div>
</div>
