<div class="mx-8 my-10">
  <div class="flex flex-col gap-4">
    <div class="flex flex-row justify-between items-center">
      <h1 class="text-4xl">
        <%= t(".title") %>
      </h1>
      <%= render ActionButtonComponent.new(to: new_project_path, icon: "add", colour: :primary, size: :large, turbo_stream: true) do %>
        <%= t(".actions.create") %>
      <% end %>
    </div>
    <%= render Projects::ProjectsCardComponent.new(projects: @projects) %>
  </div>
</div>
