<%= turbo_stream.replace "journal-fields" do %>
  <div id="journal-fields">
    <%= render Journals::FormComponent.new(
          project: @project,
          subproject: @subproject,
          journal: @journal,
          url: journals_path
        ) %>
  </div>
<% end %>