<div
  class="w-full border border-base-300 rounded-lg bg-base-100 shadow-sm overflow-hidden"
  data-controller="marquee"
  data-marquee-speed-value="25"
  data-marquee-hover-speed-value="50"
  data-marquee-direction-value="left"
  data-action="mouseenter->marquee#pauseAnimation mouseleave->marquee#resumeAnimation">
  <div data-marquee-target="track" class="w-full">
    <div data-marquee-target="list" class="flex gap-6 px-4 py-3">
      <% slides.each do |slide| %>
        <div class="shrink-0">
          <%= slide %>
        </div>
      <% end %>
    </div>
  </div>
</div>
